body {
  margin: auto 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ccc;
}

.horizontal {
display: inline-block;
padding: 2%;
background-color: aquamarine;
margin: auto 0;
color:red;
text-transform: uppercase;
padding-right: 2%;
margin: 1%;

}