body {
  margin: 0;
  padding: 8% 0 0 0;
  font-family: sans-serif;
}

.box{
  position: relative;
  right: 20px;
  width: 25%;
  margin: auto;
  padding-top: 1%;

}

.item{
list-style-type: none;
width: 25%;
padding: 8px 45px;
margin-bottom: 6px;
background-color: #e2e2f9;
border: 1px solid #bebde9;
 }

 li.item {
 padding-top: 0px;
 padding-bottom: 0px;

 }
.bin{
width: 45%;
display: inline-block;
position: relative;
right: 90%;
top:15px;
border-top:0px;
float: left;
display: none;
}

li:hover .bin{
display: block;
}

.ite m:hover {
  visibility: visible;
  background-color: green;
}

