body {
  margin: 0;
  padding: 8% 0 0 0;
  font-family: sans-serif;
 
}
h2,h4, form{
  text-align: center;
}

.item{
list-style-type: none;
width: 25%;
padding: 8px 45px;
margin-bottom: 6px;
background-color: #e2e2f9;
border: 1px solid #bebde9;
 }

 li.item {
 padding-top: 0px;
 padding-bottom: 0px;

 }
.bin{
width: 50%;
display: inline-block;
position: relative;
right: 90%;
top:15px;
border-top:0px;
display: none;
}

li:hover .bin{
display: block;
}


