body {
  margin: 0;
  padding: 8% 0 0 0;
  font-family: sans-serif;
}

.box{
  width: 25%;
  margin: auto;
  padding-top: 1%;

}

.item{
list-style-type: none;
width: 25%;
padding: 12px 45px;
margin-bottom: 6px;
 border-top: 2px solid red;
border-bottom: 2px solid gray;

}
